<li class="separator acl-write"></li>
<li class="acl-write" id="headline_h1" data-key="headline_h1">
    <a class="grouped-left" data-l10n-id="pad.toolbar.h1.title">
      <span class="buttonicon-headline buttonicon-headline-h1"></span>
    </a>
</li>
<li class="acl-write" id="headline_h2" data-key="headline_h2">
    <a class="grouped-middle" data-l10n-id="pad.toolbar.h2.title">
      <span class="buttonicon-headline buttonicon-headline-h2"></span>
    </a>
</li>
<li class="acl-write" id="headline_h3" data-key="headline_h3">
    <a class="grouped-middle" data-l10n-id="pad.toolbar.h3.title">
      <span class="buttonicon-headline buttonicon-headline-h3"></span>
    </a>
</li>
<li class="acl-write" id="headline_h4" data-key="headline_h4">
    <a class="grouped-middle" data-l10n-id="pad.toolbar.h4.title">
      <span class="buttonicon-headline buttonicon-headline-h4"></span>
    </a>
</li>
<li class="acl-write" id="headline_h5" data-key="headline_h5">
    <a class="grouped-middle" data-l10n-id="pad.toolbar.h5.title">
      <span class="buttonicon-headline buttonicon-headline-h5"></span>
    </a>
</li>
<li class="acl-write" id="headline_h6" data-key="headline_h6">
    <a class="grouped-right" data-l10n-id="pad.toolbar.h6.title">
      <span class="buttonicon-headline buttonicon-headline-h6"></span>
    </a>
</li>
